HBox Button{
-fx-text-fill:blue;
-fx-font-family:"Times New Roman";
-fx-font-size:20px;
-fx-border-style: solid;
-fx-border-color: #660099;
-fx-border-width: 1 1 1 1;
}
HBox Button:hover{
-fx-background-color:blue;
-fx-text-fill:white;
-fx-border:none;
}
GridPane{
-fx-background-image:url("file:///../images/librarian.png");
-fx-background-repeat:no-repeat;
-fx-background-size:100% 100%;
}
